.with-twbs-navbar {
    padding-top: 50px;
}
.twbs-navbar {
    .twbs-navbar-icon:before,
    .twbs-navbar-icon:after {
        display: inline-block;
        width: 1.28571em;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        text-align: center;
    }
    .twbs-navbar-icon:before {
        content: "\f138\00a0";
    }
    .twbs-navbar-icon-dashboard:before {
        content: "\f0e4\00a0";
    }
    .twbs-navbar-icon-menu:before {
        content: "\f0c9\00a0";
    }
    .twbs-navbar-icon-shortcut:before {
        content: "\f0c1\00a0";
    }
    .twbs-navbar-icon-user:before {
        content: "\f007\00a0";
    }
    .twbs-navbar-icon-devel:before {
        content: "\f085\00a0";
    }
    .dropdown-toggle:after {
        content: "\00a0\f0d7";
    }
}
